# Winter Olympic games statistic

In [3]:
import pandas as pd
import panel as pn
import plotly.express as px

# Load data from a CSV file
data = pd.read_csv('winter_games.csv')

In [4]:
data.head()

   olympics discipline sex  age
0      2022  Snowboard   f   24
1      2022  Snowboard   f   28
2      2022  Snowboard   f   26
3      2022  Snowboard   f   26
4      2022  Snowboard   f   26

In [5]:
# Define a function to create a histogram of age distribution
def age_histogram():
    return px.histogram(data, x='age', nbins=20, title='Age Distribution')

# Define a function to create a bar chart of the number of athletes by gender
def gender_bar_chart():
    gender_counts = data['sex'].value_counts()
    return px.bar(gender_counts, x=gender_counts.index, y=gender_counts.values, title='Number of Athletes by Gender')

# Define a function to create a line chart of the number of athletes by year of play
def year_line_chart():
    year_counts = data['olympics'].value_counts().sort_index()
    return px.line(year_counts, x=year_counts.index, y=year_counts.values, title='Number of Athletes by Year')

# Define a function to create a scatter plot of age vs. year of play
def age_vs_year_scatter():
    return px.scatter(data, x='olympics', y='age', color='sex', title='Age vs. Year of Play')

# Define a function to create a grouped bar chart of the number of athletes by gender and discipline
def gender_discipline_bar_chart():
    gender_discipline_counts = data.groupby(['sex', 'discipline'])['age'].count().reset_index()
    return px.bar(gender_discipline_counts, x='discipline', y='age', color='sex', barmode='group', title='Number of Athletes by Gender and Discipline')

In [6]:
# Create a dropdown menu for selecting the type of chart to display
dropdown = pn.widgets.Select(name='Chart Type', options=['Age Histogram', 'Gender Bar Chart', 'Year Line Chart', 'Age vs. Year Scatter', 'Gender-Discipline Bar Chart'])

# Combine the dropdown menu and charts into a Panel dashboard
dashboard = pn.Column(
    '# Olympic Games Dashboard',
    dropdown,
    pn.pane.Plotly(height=400),
)

In [7]:
# Define a callback function to update the chart based on the dropdown menu selection
def update_chart(event):
    if dropdown.value == 'Age Histogram':
        dashboard[2] = age_histogram()
    elif dropdown.value == 'Gender Bar Chart':
        dashboard[2] = gender_bar_chart()
    elif dropdown.value == 'Year Line Chart':
        dashboard[2] = year_line_chart()
    elif dropdown.value == 'Age vs. Year Scatter':
        dashboard[2] = age_vs_year_scatter()
    else:
        dashboard[2] = gender_discipline_bar_chart()

In [8]:
# Link the dropdown menu to the callback function
dropdown.param.watch(update_chart, 'value')

Watcher(inst=Select(name='Chart Type', options=['Age Histogram', ...], value='Age Histogram'), cls=<class 'panel.widgets.select.Select'>, fn=<function update_chart at 0x0000019AF86DA4C0>, mode='args', onlychanged=True, parameter_names=('value',), what='value', queued=False, precedence=0)

In [9]:
from bokeh.settings import settings
settings.resources = 'cdn'
settings.resources = 'inline'

In [10]:
dashboard.show()

Launching server at http://localhost:52395